USE [EuropeWeather]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 04.09.2016. 20.56.51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cities]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Cities](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[CityName] [nvarchar](250) NOT NULL,
	[ExternalId] [int] NULL,
	[Longitude] [decimal](9, 6) NULL,
	[Latitude] [decimal](9, 6) NULL,
 CONSTRAINT [PK_Cities_1] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 04.09.2016. 20.56.51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Countries]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Code2] [nvarchar](2) NOT NULL,
	[Code3] [nvarchar](3) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[WeatherConditions]    Script Date: 04.09.2016. 20.56.51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WeatherConditions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WeatherConditions](
	[WeatherConditionId] [int] IDENTITY(1,1) NOT NULL,
	[ExternalId] [int] NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_WeatherConditions] PRIMARY KEY CLUSTERED 
(
	[WeatherConditionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[WeatherData]    Script Date: 04.09.2016. 20.56.51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WeatherData]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WeatherData](
	[WeatherDataId] [bigint] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NOT NULL,
	[WeatherConditionId] [int] NOT NULL,
	[WeatherMain] [nvarchar](250) NULL,
	[WeatherIcon] [varchar](10) NULL,
	[Temperature] [decimal](5, 2) NULL,
	[Pressure] [decimal](8, 2) NULL,
	[Humidity] [decimal](5, 2) NULL,
	[MinTemperature] [decimal](5, 2) NULL,
	[MaxTemperature] [decimal](5, 2) NULL,
	[Visibility] [int] NULL,
	[WindSpeed] [decimal](4, 2) NULL,
	[WindDirection] [int] NULL,
	[Clouds] [decimal](5, 2) NULL,
	[Rain] [int] NULL,
	[Snow] [int] NULL,
	[Sunrise] [datetime2](2) NULL,
	[Sunset] [datetime2](2) NULL,
	[TimeOfCalculation] [datetime2](2) NULL,
	[Created] [datetime2](7) NULL,
 CONSTRAINT [PK_WeatherData] PRIMARY KEY CLUSTERED 
(
	[WeatherDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

GO
INSERT [dbo].[Cities] ([CityId], [CountryId], [CityName], [ExternalId], [Longitude], [Latitude]) VALUES (1, 2, N'Tirana', 3183875, CAST(19.818890 AS Decimal(9, 6)), CAST(41.327499 AS Decimal(9, 6)))
GO
INSERT [dbo].[Cities] ([CityId], [CountryId], [CityName], [ExternalId], [Longitude], [Latitude]) VALUES (2, 5, N'Andorra la Vella', 3041563, CAST(1.521090 AS Decimal(9, 6)), CAST(42.507790 AS Decimal(9, 6)))
GO
INSERT [dbo].[Cities] ([CityId], [CountryId], [CityName], [ExternalId], [Longitude], [Latitude]) VALUES (3, 11, N'Yerevan', 616051, CAST(44.500000 AS Decimal(9, 6)), CAST(40.183331 AS Decimal(9, 6)))
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

GO
INSERT [dbo].[Countries] ([CountryId], [Name], [Code2], [Code3]) VALUES (1, N'Afghanistan', N'AF', N'AFG')
GO
INSERT [dbo].[Countries] ([CountryId], [Name], [Code2], [Code3]) VALUES (2, N'Albania', N'AL', N'ALB')
GO
INSERT [dbo].[Countries] ([CountryId], [Name], [Code2], [Code3]) VALUES (3, N'Algeria', N'DZ', N'DZA')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[WeatherConditions] ON 

GO
INSERT [dbo].[WeatherConditions] ([WeatherConditionId], [ExternalId], [Description]) VALUES (1, 200, N'Thunderstorm with light rain')
GO
INSERT [dbo].[WeatherConditions] ([WeatherConditionId], [ExternalId], [Description]) VALUES (2, 201, N'Thunderstorm with rain')
GO
INSERT [dbo].[WeatherConditions] ([WeatherConditionId], [ExternalId], [Description]) VALUES (3, 202, N'Thunderstorm with heavy rain')
GO
SET IDENTITY_INSERT [dbo].[WeatherConditions] OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Cities_Countries]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cities]'))
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Cities_Countries]') AND parent_object_id = OBJECT_ID(N'[dbo].[Cities]'))
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WeatherData_Cities]') AND parent_object_id = OBJECT_ID(N'[dbo].[WeatherData]'))
ALTER TABLE [dbo].[WeatherData]  WITH CHECK ADD  CONSTRAINT [FK_WeatherData_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([CityId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WeatherData_Cities]') AND parent_object_id = OBJECT_ID(N'[dbo].[WeatherData]'))
ALTER TABLE [dbo].[WeatherData] CHECK CONSTRAINT [FK_WeatherData_Cities]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WeatherData_WeatherConditions]') AND parent_object_id = OBJECT_ID(N'[dbo].[WeatherData]'))
ALTER TABLE [dbo].[WeatherData]  WITH CHECK ADD  CONSTRAINT [FK_WeatherData_WeatherConditions] FOREIGN KEY([WeatherConditionId])
REFERENCES [dbo].[WeatherConditions] ([WeatherConditionId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_WeatherData_WeatherConditions]') AND parent_object_id = OBJECT_ID(N'[dbo].[WeatherData]'))
ALTER TABLE [dbo].[WeatherData] CHECK CONSTRAINT [FK_WeatherData_WeatherConditions]
GO
